<script type="text/javascript" language="javascript">
  $( document ).ready(function() {
    urlParams = new URLSearchParams(window.location.search);
    message = urlParams.get('message');
    status = urlParams.get('status');
    if (message != null) {
      $('#message').html(message + '<br/><br/>')
      $('#message').addClass('success-message');
    }
    if (status == "error") {
      $('#message').addClass('error-message');
    }
  });
</script>
<div id="message"></div>
{{ if eq .Status "error"}}
<p class="error-message">{{ .Message }}</p>
{{ else if eq .Status "success" }}
<p class="success-message">{{ .Message }}</p>
{{ end }}

