<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FastTrackML</title>
  <link rel="stylesheet" href="/static/aim/assets/icomoon/icomoonIcons.css">
  <link rel="stylesheet" href="/static/chooser/static/css/simple.min.css">
  <link rel="stylesheet" href="/admin/static/css/namespaces.css">
  <link rel="icon" type="image/x-icon" href="/static/chooser/static/favicon.ico">
  <script type="text/javascript" language="javascript" src="/admin/static/js/jquery-3.7.0.js"></script>
  <script type="text/javascript" language="javascript" src="/admin/static/js/namespaces.js"></script>
</head>

<body>
  <header>
    <a href="/">
      <picture>
        <source media="(prefers-color-scheme: dark)" srcset="/static/chooser/static/media/logo-dark.svg">
        <img class="logo" src="/static/chooser/static/media/logo-light.svg" alt="FastTrackML logo">
      </picture>
    </a>
    <p>A <i>very fast</i> experiment tracker</p>
  </header>

  <main>
    {{ embed }}
  </main>

  <footer>
    <p>Brought to you by <a href="https://opensource.gresearch.co.uk" target="_blank">G-Research Open-Source</a>.
    </p>
  </footer>
</body>

</html>