# IDE
.idea

# Binaries
fml
fasttrackml

# Local database
fasttrackml.db*

# Imported integration tests
tests/integration/python/*/*.src

# Quick start
outputs
poetry.lock

# Mocks
mock_*

# Misc
.DS_Store
