# IDE
.idea

# Binaries
fml
fasttrackml

# Local database
fasttrackml.db*

# UI builds
pkg/ui/*/embed/build*
pkg/ui/*/embed/repo*
!pkg/ui/*/embed/build.sh

# Imported integration tests
tests/**/*.src

# Quick start
outputs
poetry.lock

# Mocks
mock_*

# Misc
.DS_Store
ignore/

# Goreleaser
dist/
