# IDE
.idea

# Binaries
dist/
fml
fasttrackml
*.exe
__debug_bin*

# Local database
fasttrackml.db*
encrypted.db*
fasttrackml-*
fasttrackml-in.*
fasttrackml-out.*

# Imported integration tests
tests/integration/python/*/*.src

# Quick start
outputs
poetry.lock

# Misc
.DS_Store

# Optional workspace
go.work*
*.code-workspace

# Python wheels
python/build/
python/*.egg-info/
wheelhouse/