[submodule "fasttrackml-ui-aim"]
	path = fasttrackml-ui-aim
	url = ssh://git@github.com/g-research/fasttrackml-ui-aim.git

[submodule "fasttrackml-ui-mlflow"]
	path = fasttrackml-ui-mlflow
	url = ssh://git@github.com/g-research/fasttrackml-ui-mlflow.git
