[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
isort = "*"

[dev-packages]
mlflow = "==2.14.2"
boto3 = "*"
psycopg2-binary = "*"
google-cloud-storage = "*"

[requires]
python_version = "3.11"
