[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
boto3 = "*"
isort = "*"
matplotlib = "*"
mlflow-skinny = "~=2.7.0"
pandas = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.11"
