<html>
  <head>
    <title>Namespaces</title>
    <link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="/static/js/jquery-3.7.0.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript">
      $( document ).ready(function() {
         new DataTable('#namespaces');        
      });
    </script>
  </head>
  <body>
    <h1>Namespaces</h1>
    {{ if gt (len .ErrorMessage) 0 }}
    <p style="color: darkred">{{ .ErrorMessage}}</p>
    {{ end }}
    {{ if gt (len .SuccessMessage) 0 }}
    <p style="color: darkgreen">{{ .SuccessMessage }}</p>
    {{ end }}
    <table id="namespaces" class="display">
      <thead>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Description</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
	{{ range .Data }}
	<tr>
          <td>{{ .ID }}</td>
          <td>{{ .Code }}</td>
          <td>{{ .Description }}</td>
          <td>{{ .CreatedAt }}</td>
	</tr>
	{{ end }}
      </tbody>
    </table>

    <p><a href="#" onclick="window.location = window.location.origin + '/admin/ns/create.html'">Create new namespace</a></p>

  </body>
</html>

