<p>Which UI do you want to use?</p>
<div class="ui">
    <article>
        <a href="#" onclick="window.location = window.location.origin + window.location.pathname + 'mlflow/'">
            <button>Classic</button>
        </a>
        <p class="tight">This is the classic MLFlow UI, albeit fast and responsive.</p>
    </article>
    <article>
        <a href="#" onclick="window.location = window.location.origin + window.location.pathname + 'aim/'">
            <button>Modern</button>
        </a>
        <p class="tight">This is the modern Aim UI, much faster than MLFlow.</p>
    </article>
</div>
<p>Selected namespace:
    <b>
        <u>{{.CurrentNamespace.DisplayName}}</u>
    </b>
</p>

{{ if .Namespaces}}
<div id="namespaces-list-container">
    <ul id="namespaces-list">
        {{ range .Namespaces }}
        {{ if ne .DisplayName $.CurrentNamespace.DisplayName }}
        <li>
            <a href="#" onclick="window.location = window.location.origin + {{if eq .Code "default"}}'/'{{else}}'/ns/{{.Code}}/'{{end}}">{{.DisplayName}}</a>
        </li>
        {{ else }}
        <li class="selected-namespace">
            <i id="current-icon" class="Icon__container icon-long-arrow-right"></i>
            <b id="current-namespace">{{$.CurrentNamespace.DisplayName}}</b>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</div>
{{ end }}

{{ if .IsAdmin }}
<p>
    <a href="#" onclick="window.location = window.location.origin + '/admin/namespaces/'">Manage namespaces</a>
</p>
{{ end }}

<a href="/logout">
    <button id="logout-button">Logout</button>
</a>