<script type="text/javascript" language="javascript">
  $( document ).ready(function() {
     new DataTable('#namespaces');        
  });
</script>
<h1>Namespaces</h1>
{{ template "partials/messages" . }}
<table id="namespaces" class="display">
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Data }}
    <tr>
      <td>{{ .Code }}</td>
      <td>{{ .Description }}</td>
      <td>{{ .CreatedAt.Format "2006-01-02 15:04:05" }}</td>
      <td>
      {{ if ne .Code "default" }}  
        <a href="#" onclick="editNamespace('{{ .ID }}')">Edit</a>
        <a href="#" onclick="deleteNamespace('{{ .ID }}')">Delete</a> 
      {{ end }}
      </td>  
    </tr>
    {{ end }}
  </tbody>
</table>

<p><a href="#" onclick="createNamespace()">Create new namespace</a></p>
