#form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 300px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
    margin: 0px;
}

.content {
    margin: 10px;
}

.logo {
    height: 150px;
    margin-top: -25px;
    margin-bottom: -50px;
}

.header {
    background-color: #f5f7ff;
    text-align: center;
}

